<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Ookii.Dialogs.WinForms" version="1.1.0" targetFramework="net472" />
  <package id="Stimulsoft.Dashboards.Win" version="2020.5.1" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Engine" version="2020.5.1" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Net" version="2020.5.1" targetFramework="net472" />
</packages>